.bookings-outer-container {
    margin: 50px auto;
    border: 1px solid;
    background: white;
}

.bookings-inner-container {
    display: none;
}

.bookings-inner-container.active {
    height: 200px;
    overflow-y: scroll;
    display: block;
    border: 1px solid;
    margin: 30px 20px 20px 20px;
    padding: 5px;
}

.bookings-header {
    cursor: pointer;
}

.accordion-arrow {
    font-size: 0.8rem;
    margin-left:10px;
}