.create-booking-form-container {
    border: 1px solid;
    padding: 20px;
    
    background: white;
}

.create-booking-form {
    display: none;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    transition: max-height 0.2s ease-out;
    margin-top:30px;
}

.create-booking-form.active {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.create-booking-form-header {
    margin: 0;
    cursor: pointer;
}

.create-booking-input-container {
    display:flex;
}

.create-booking-input-container:nth-child(2n+1) {
    justify-content: flex-end;
}

.create-booking-input-container:nth-child(2n) {
    justify-content: flex-start;
}

.create-booking-input-inner-container {
    display: flex;
    justify-content: flex-end;
}

.create-booking-input-inner-container > * > * {
    margin-left: 20px;
}

.create-booking-form-button-container {
    grid-column-start:1;
    grid-column-end: 3;
    display: flex;
    justify-content: center;
}

.create-booking-form-button-container button {
    cursor: pointer;
    padding:5px 10px;
}

.create-booking-form-button-container button:disabled,
.create-booking-form-button-container button[disabled] {

    background-color: #cccccc;
    color: #666666;
    cursor: default;
    pointer-events: none;
}

.icon-info-container {
    position: relative;
}
.icon-info {
    font-size: 20px;
    margin-left: 10px;
    cursor:pointer;
    color: red;
    position:absolute;
}

.accordion-arrow {
    font-size: 0.8rem;
    margin-left:10px;
}