.booking-outer-container {
    border-bottom: 3px solid black;
    margin:15px;
    padding:10px;
}

.booking-inner-container {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    gap:20px;
}

.booking-content {
    text-align: left;
}

.booking-header {
    width:100%;
}

.icon-delete {
    cursor: pointer;
}